{% extends 'Base.html' %} 
{% block title %}Brand Detail | Showroom {% endblock %}
{% block content %} 
<div class="container mt-5">
  <div class="mb-5" style="text-align: center; margin-bottom: 20px">
    <h2> {{brand.name}} </h2>
    <p>Discover Our Car Models and Features</p>
  </div>

  <div class="row">
    {% for car in cars %}
    <div class="col-md-4">
      <div
        style="
          border: none;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          margin-bottom: 20px;
        "
      >
        <img
          src="{{car.image.url}}"
          alt="Car Image"
          style="height: auto;width:100%; object-fit: contain"
        />
        <div style="padding: 15px">
          <h5 style="font-size: 1.25rem; font-weight: bold; margin-top: 10px">
            {{car.name}}
          </h5>
          <p style="margin-top: 5px"><strong>Model:</strong> {{car.model}}</p>
          <p style="margin-top: 5px"><strong>Engine:</strong> {{car.engine}}</p>
          <p style="margin-top: 5px">
            <strong>Features:</strong> 
            <ul>
            {% for feature in car.model.feature_set.all %}
                <li> {{feature}} </li>
            {% endfor %}
            </ul>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
</div>
{% endblock content %}
