{% extends 'Base.html' %}
{% block title %}Showroom | Home{% endblock title %}
{% block content %}
<div class="container mt-5" style="min-height:70vh" >
    <div class="row">
        {% for brand in brands %}
        <div class="col-md-4 mb-4">
            <div class="card" style="border: none; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
              <img src="{{brand.image.url}}" alt="Card Image" class="card-img-top" style="border-top-left-radius: 10px; border-top-right-radius: 10px; height:250px;width:auto; object-fit: contain;background-color:#000000;">
              <div class="card-body">
                <h5 class="card-title" style="margin-top: 10px; font-size: 1.25rem; font-weight: bold;">{{brand.name}}</h5>
                <a href="{% url 'BrandDetail' brand.id %}" class="btn btn-primary mt-4" style="border-radius: 5px;">Details</a>
              </div>
            </div>
          </div>
      {% endfor %}

      
    </div>
  </div>
{% endblock content %}
